body{
    background-color:#D5E1EF ;
    text-align: center;
    font-weight: 400px;
    font-family:cursive;
}
.card{
    position: absolute;
    margin: auto;
    width:100%;
    max-width:302px; ;
    inset:0;
    height: 470px;
    background-color: white;
    padding: 1.25rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
    box-shadow:-2px 14px 20px 0px rgba(0, 0, 0, 0.3)
}
img{
    width: 100%;
    border-radius: 10px;
}
h2{
   color:  #1f3251
}
p{
    color:hsl(220, 15%, 55%);
}